.stripe-checkout span {
  background: #614385 !important;
  background: -webkit-linear-gradient(to right, #516395, #614385) !important;
  background-image: linear-gradient(to right, #516395, #614385) !important;
}

.stripe-checkout {
  background: #614385 !important;
  background: -webkit-linear-gradient(to right, #516395, #614385) !important;
  background-image: linear-gradient(to right, #516395, #614385) !important;
}
