.form-container {
  width: 100vw;
}

.forms {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attraction-container {
}

.entertainment-container {
}

.food-container {
}

.form-fields {
  display: flex;
  justify-content: flex-start;
  border: solid 1px red;
  width: 33%;
}
span {
  color: white;
}
